@font-face {
  font-family: "News Cycle";
  src: url("../fonts/News_Cycle/NewsCycle-Regular.ttf");
}

@font-face {
  font-family: "News Cycle";
  src: url("../fonts/News_Cycle/NewsCycle-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Catamaran";
  src: url("../fonts/Catamaran/static/Catamaran-Regular.ttf");
}

@font-face {
  font-family: "Catamaran";
  src: url("../fonts/Catamaran/static/Catamaran-Bold.ttf");
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: "News Cycle";
}

.container img {
  width: 50vw;
  max-width: 1200px;
}
